/* line 3, ../sass/partials/_button.scss */
.btn-white {
  color: #333333;
  background-color: white;
  border-color: #cccccc;
}

/* line 11, ../sass/partials/_button.scss */
.btn-white:hover,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: #333333;
  background-color: #cccccc;
  border-color: #adadad;
}

/* line 17, ../sass/partials/_button.scss */
.btn-light-grey {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

/* line 25, ../sass/partials/_button.scss */
.btn-light-grey:hover,
.btn-light-grey:active,
.btn-light-grey.active,
.open .dropdown-toggle.btn-light-grey {
  color: #333333;
  background-color: #cccccc;
  border-color: #adadad;
}

/* line 31, ../sass/partials/_button.scss */
.btn-grey {
  color: #333333;
  background-color: #cccccc;
  border-color: #adadad;
}

/* line 37, ../sass/partials/_button.scss */
.btn-group-fixed-width-lg button.btn {
  width: 120px;
}

/* line 41, ../sass/partials/_button.scss */
.btn-group-xs > .btn {
  padding: 4px 8px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 3px;
}

/* line 48, ../sass/partials/_button.scss */
.btn-group-fixed-width-xs button.btn {
  width: 26px;
}

/* line 1, ../sass/partials/_form.scss */
form.center-form {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
/* line 6, ../sass/partials/_form.scss */
form.center-form label {
  display: block;
  text-align: center;
}
/* line 11, ../sass/partials/_form.scss */
form.center-form input {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: block;
}
/* line 18, ../sass/partials/_form.scss */
form.center-form button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 26, ../sass/partials/_form.scss */
form.spaced-form button, form.spaced-form input {
  margin-top: 7px;
  margin-bottom: 7px;
}

/* line 1, ../sass/partials/_header.scss */
.header {
  margin-top: 10px;
}

/* line 1, ../sass/partials/_page.scss */
.container .jumbotron {
  box-shadow: 5px 5px 8px black;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
/* line 9, ../sass/partials/_page.scss */
.container .jumbotron h2 {
  line-height: 140%;
}
/* line 13, ../sass/partials/_page.scss */
.container .jumbotron h1, .container .jumbotron h2, .container .jumbotron h3, .container .jumbotron h4 {
  margin: 0;
}

/* line 18, ../sass/partials/_page.scss */
hr {
  border-top: 2px solid #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 24, ../sass/partials/_page.scss */
.highlight {
  box-shadow: 2px 2px 3px black;
}

/* line 28, ../sass/partials/_page.scss */
div.center-block-md {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 265px;
}

/* line 35, ../sass/partials/_page.scss */
div.center-block-lg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 550px;
}

/* line 42, ../sass/partials/_page.scss */
.round-block {
  border-radius: 6px 6px 6px 6px;
}

/* line 46, ../sass/partials/_page.scss */
div.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 51, ../sass/partials/_page.scss */
div.vertical-space {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 56, ../sass/partials/_page.scss */
div.vertical-space-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}
