/* line 3, ../sass/partials/_button.scss */
.btn-white {
  color: #333333;
  background-color: white;
  border-color: #cccccc;
}

/* line 12, ../sass/partials/_button.scss */
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: #333333;
  background-color: #cccccc;
  border-color: #adadad;
}

/* line 18, ../sass/partials/_button.scss */
.btn-grey {
  color: #333333;
  background-color: #ebebeb;
  border-color: #cccccc;
}

/* line 27, ../sass/partials/_button.scss */
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: #333333;
  background-color: #cccccc;
  border-color: #adadad;
}

/* line 33, ../sass/partials/_button.scss */
.btn-dark-grey {
  color: #333333;
  background-color: #cccccc;
  border-color: #adadad;
}

/* line 1, ../sass/partials/_form.scss */
form.center-form {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
/* line 6, ../sass/partials/_form.scss */
form.center-form label {
  display: block;
  text-align: center;
}
/* line 11, ../sass/partials/_form.scss */
form.center-form input {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: block;
}
/* line 18, ../sass/partials/_form.scss */
form.center-form button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 26, ../sass/partials/_form.scss */
form.spaced-form button, form.spaced-form input {
  margin-top: 7px;
  margin-bottom: 7px;
}

/* line 1, ../sass/partials/_header.scss */
.header {
  margin-top: 10px;
}

/* line 1, ../sass/partials/_page.scss */
.container .jumbotron {
  box-shadow: 5px 5px 8px black;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
/* line 9, ../sass/partials/_page.scss */
.container .jumbotron h2 {
  line-height: 140%;
}
/* line 13, ../sass/partials/_page.scss */
.container .jumbotron h1, .container .jumbotron h2, .container .jumbotron h3, .container .jumbotron h4 {
  margin: 0;
}

/* line 18, ../sass/partials/_page.scss */
hr {
  border-top: 2px solid #000;
}

/* line 22, ../sass/partials/_page.scss */
.highlight {
  box-shadow: 2px 2px 3px black;
}

/* line 26, ../sass/partials/_page.scss */
div.center-block-medium {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
}

/* line 33, ../sass/partials/_page.scss */
.round-block {
  border-radius: 6px 6px 6px 6px;
}
