@import '../modules/allModules';

.btn-white {
  color: $darkestGrey;
  background-color: $white;
  border-color: $grey;
}

.btn-white:hover,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: $darkestGrey;
  background-color: $grey;
  border-color: $darkGrey;
}

.btn-light-grey {
  color: $darkestGrey;
  background-color: $lightGrey;
  border-color: $darkGrey;
}

.btn-light-grey:hover,
.btn-light-grey:active,
.btn-light-grey.active,
.open .dropdown-toggle.btn-light-grey {
  color: $darkestGrey;
  background-color: $grey;
  border-color: $darkGrey;
}

.btn-grey {
  color: $darkestGrey;
  background-color: $grey;
  border-color: $darkGrey;
}

.btn-group-fixed-width-lg button.btn {
  width: 120px;
}

.btn-group-xs > .btn {
  padding: 4px 8px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-fixed-width-xs button.btn {
  width: 26px;
}