<h2 class="text-center">Contact/About</h2>

<p>
    PollCat Toronto is a free and <a href="https://github.com/robianmcd/pollcat-toronto" target="_blank">open source</a>
    website designed to educate Torontonians on the candidates running in the upcoming municipal election.
    All of the questions on this site are based off of topics that
    <a href="http://app.toronto.ca/tmmis/getAdminReport.do?function=prepareMemberVoteReport" target="_blank">
        city council has voted on.
    </a>
</p>
<p>
    If you have any questions or comments about the site please contact Rob McDiarmid at:
    <a href="mailto:robianmcd@gmail.com?subject=PollCat-Toronto">
        robianmcd@gmail.com
    </a>
</p>