<div class="jumbotron highlight-large row">
    <div class="col-sm-3">
        <img src="/images/to-check.png">
    </div>
    <div class="col-sm-9">
        <h2 class="text-center">Make your Toronto great!</h2>

        <h2 class="text-center">Learn who would best represent you in the upcoming Toronto election.</h2>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">What is PollCat?</h2>

        <p>
            PollCat is a tool to help you learn more about the 2014 Toronto election. You will get a change to cast your
            own vote on some key issues that have faced city council. The candidates running in your ward will be voting
            on the same questions so you will be able to see which candidates share your views and opinions.
        </p>
        <p>
            To get started enter your address below.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <h2 class="text-center">Get Started</h2>

        <form>
            <div class="form-group">

                <div ng-if="ctrl.addressEntryState === ctrl.addressEntryEnum.ENTER">
                    <label for="postalCodeInput">Enter your Toronto Street Address:</label>

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" ng-click="ctrl.submitAddress()">Go</button>
                        </span>
                        <input type="text" class="form-control" id="postalCodeInput"
                               placeholder="e.g. 123 Yonge st."
                               ng-model="ctrl.streetAddressInput">
                    </div>

                    <div class="text-danger" ng-show="ctrl.addressSearchErrorMessage">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        {{ctrl.addressSearchErrorMessage}}
                    </div>
                </div>

                <div ng-if="ctrl.addressEntryState === ctrl.addressEntryEnum.VERIFY">
                    <label>Please select your address</label>

                    <div ng-repeat="address in ctrl.matchingStreetAddresses" class="radio">
                        <label>
                            <input type="radio" name="Matching street address" ng-click="ctrl.goToWardInfo(address)">
                            {{address.formattedAddress}}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="Matching street address" ng-click="ctrl.enterNewAddress()">
                            Enter a new address.
                        </label>
                    </div>
                </div>

                <div ng-if="ctrl.addressEntryState === ctrl.addressEntryEnum.LOADING_WARD">
                    <div>Loading ward info...</div>
                </div>
            </div>
        </form>

    </div>
</div>
