<div active-nav-item="ctrl.activeNavItem" pc-header></div>

<div class="jumbotron row">
    <div class="col-md-3"><div style="font-size:400%" class="glyphicon glyphicon-ok-circle"></div></div>
    <div class="col-md-9">
        <h3>Make sense of the Toronto 2014 Election</h3>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">What is PollCat?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="centerForm">
            <h2 class="text-center">Get Started</h2>

            <div class="form-group">
                <label for="postalCodeInput">Enter your postal code:</label>
                <input type="text" class="form-control" id="postalCodeInput" placeholder="e.g. M5R 2S4">
                <button type="submit" class="btn btn-primary">Start Voting</button>
            </div>
        </form>

    </div>
</div>


<div>social networking</div>
<div>footer</div>
