<div active-nav-item="ctrl.activeNavItem" pc-header></div>

<div class="jumbotron row">
    <div class="col-md-3">
        <img src="/images/to-check.png">
    </div>
    <div class="col-md-9">
        <h2>Make sense of the Toronto 2014 Election. See how you compare to the candidates in your area.</h2>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">What is PollCat?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="spaced-form center-form">
            <h2 class="text-center">Get Started</h2>

            <div class="form-group">
                <label for="postalCodeInput">Enter your postal code:</label>
                <input type="text" class="form-control highlight" id="postalCodeInput" placeholder="e.g. M5R 2S4">
                <button type="submit" class="btn btn-primary highlight">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                    Start Voting
                </button>

            </div>
        </form>

    </div>
</div>
