<h2 class="text-center">{{ctrl.activeQuestion.title}}</h2>
<p>{{ctrl.activeQuestion.description}}</p>

<div class="center-block-md section">
    <div class="btn-group btn-group-lg round-block {{ctrl.getHighlightAnswerButtonsClass()}}">
        <button type="button" ng-click="ctrl.setAnswerState(ctrl.answerStateEnum.DISAGREE)"
                class="btn {{ctrl.answerButtonGroupInfo[ctrl.answerStateEnum.DISAGREE].buttonColorClass}}">
            Disagree
        </button>
        <button type="button" ng-click="ctrl.setAnswerState(ctrl.answerStateEnum.SKIP)"
                class="btn {{ctrl.answerButtonGroupInfo[ctrl.answerStateEnum.SKIP].buttonColorClass}}">
            Skip
        </button>
        <button type="button" ng-click="ctrl.setAnswerState(ctrl.answerStateEnum.AGREE)"
                class="btn {{ctrl.answerButtonGroupInfo[ctrl.answerStateEnum.AGREE].buttonColorClass}}">
            Agree
        </button>
    </div>
</div>

<div ng-show="ctrl.answerState !== ctrl.answerStateEnum.UNSET">
    <h3 class="text-center">Results</h3>

    <div class="row">
        <div class="col-sm-4">
            <div panel-title="Disagreed" list="ctrl.disagreeList" list-panel></div>
        </div>
        <div class="col-sm-4">
            <div panel-title="Skipped" list="ctrl.skipList" list-panel></div>
        </div>
        <div class="col-sm-4">
            <div panel-title="Agreed" list="ctrl.agreeList" list-panel></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 btn-group btn-group-lg btn-group-fixed-width-lg">
            <button type="button" ng-click="ctrl.previousVotePage()" ng-show="ctrl.questionNum > 1"
                    class="btn btn-light-grey pull-left">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Previous
            </button>
            <button type="button" ng-click="ctrl.nextVotePage()" class="btn btn-primary pull-right highlight">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
</div>


<div class="row center-block-lg">
    <div class="vertical-space-lg"></div>
    <div class="col-sm-12">
        <div class="btn-group btn-group-xs btn-group-fixed-width-xs">
            <button ng-repeat="pageItem in ctrl.pageList" type="button" ng-click="ctrl.gotoVotePage(pageItem.pageNum)"
                    ng-class="{'btn-light-grey': !pageItem.isActivePage, 'btn-grey': pageItem.isActivePage, 'btn': true}">
                {{pageItem.pageNum}}
            </button>
        </div>
    </div>
</div>